* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

a{
  text-decoration: none;
  color: white;
}

ul  {
  list-style: none;
}


body {
 background-image: url(/foto/mtaari\ foni.avif);
  background-size: cover;
  color: #ddd;
}

header {
    width: 100%;
    height: 10vh;
    background-image: url(/foto/mtaari\ foni.avif);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 50%;
    padding-left: 100px;
}

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;


}


.nav2 a {
    color: rgb(208, 207, 207);
}



.nav2 a:hover{
    color:white;
}


.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 25rem;
    
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 20%;
    padding-right: 50px;
}

.login2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.login2 li{
    color: white;

}

    

.rame a:hover {
    color: gray;
}




/* header end */


.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.head img{
    margin: 40px;

}

.samkutxed{
    transform: rotate(180deg);
    width: 6%;
}









.about {
  padding: 100px 0;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.text {
  width: 50%;
}

blockquote {
  font-size: 20px;
  line-height: 1.4;
  color: #f0f0f0;
  margin-bottom: 15px;
}

.source {
  display: block;
  margin-bottom: 30px;
  color: #aaa;
}

.text p {
  font-size: 10px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #bbb;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  display: block;
}










/* footter start */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-size: cover;
    width: 100%;
    height: 285px;
}

.patara_xazi {
    margin-top: 60px;
    margin-bottom: 30px;
}


.gamomyevi {
    color: white;
    font-size: 1rem;
    
}




.bolo {
    color: white;
    font-size: 0.75rem;
    
    
}

.footer_logo {
    height: 50px;
    margin-bottom: 15px;
    
}


.bolo a {
   color: rgba(255, 254, 254, 0.55);

}



@media (max-width: 768px) {
    .tour {
        width: 90%;
        margin: 40px auto;
    }

    .date {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .btn {
        align-self: center;
    }
}


/* footrer end */
